.navbar_Container ul {
    display: flex;
    color: white;
    border-bottom-left-radius: 20px;
    margin: 0;
    list-style: none;
    gap: 20px;
    justify-content: space-around;
    padding: 20px 20px;
    background-color: #424244;
    width: 50%;
    position: absolute;
    right: 0;
    top: 0;
}

.navbar_Container ul li {
    font-size: 16px;
    font-weight: 700;
    color: var(--secondary-color);
}

.navbar_Container ul li:hover {
    cursor: pointer;
}

.navbar_Container ul li:nth-child(1) {
    color: var(--yellow-color);
}