.what_Container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.what_Card {
    border: 2px solid var(--border-color);
    display: flex;
    border-radius: 20px;
    gap: 15px;
    padding: 30px 20px;
    width: 370px;
}

.what_Card :hover{
    cursor: pointer;
}

.what_Cards_Box {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-between;

}

.what_Card .what_Right ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.what_Card .what_Right ul li {
    line-height: 1.3;
}

.what_Card .what_Right ul li p {
    color: var(--secondary-color);
}

.what_Card li {
    list-style: none;
}