.upper_Part ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding:20px 0px;
}

.upper_Part ul li:nth-child(1) img{
    width: 150px;
    background-color: #505050;
    border-radius: 30px;
}

.upper_Part ul li:nth-child(3) {
    padding: 5px 15px;
    border-radius: 5px;
    background-color: #414142;
}